.fshHelpTitle {
  color: #FFF380;
  font-weight: bold;
}

.fsh-setting-unstable {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 27.793 27.793'%3E%3Cpath d='M20.972 0 5.076 15.803h5.896L6.44 27.793l16.276-15.804h-5.897z'/%3E%3C/svg%3E");
  height: 11px;
  width: 11px;
}

.fsh-setting-unstable {
  background-size: contain;
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
}

.fsh-setting-unstable::before,
.fsh-setting-unstable::after {
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -12px);
  transition: opacity .35s ease .25s;
  user-select: none;
  z-index: 1000;
}

.fsh-setting-unstable::before {
  background: #333;
  border-radius: 3px;
  bottom: 100%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.65);
  content: "Warning: Causes page instability";
  color: #eee;
  padding: 8px 12px;
  white-space: nowrap;
}

.fsh-setting-unstable::after {
  background: transparent;
  border: 8px solid transparent;
  border-top-color: #333;
  content: '';
}

.fsh-setting-unstable:hover::before,
.fsh-setting-unstable:hover::after {
  opacity: 1;
}
