.fshBazaar {
  font-size: x-small;
}

.fshBazaarWarning {
  color: red;
  font-size: small
}

.bazaarButton {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.bazaarSelected {
  display: inline-block;
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
