.guildReportSpinner {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: contain;
}

.pot-report-moved {
  position: absolute;
  right: 0;
}

.pot-report-button {
  font-size: 12px;
}
