<tr>
  <td class="fshCenter" colspan="2">
    <button
      class="custombutton"
      id="fsh-settings-save"
      type="button">Save</button>
  </td>
</tr>
<tr>
  <td class="fshCenter" colspan="2">
    <a href="index.php?cmd=notepad&amp;blank=1&amp;subcmd=savesettings">
      Export or Load Settings!
    </a>
  </td>
</tr>
<tr>
  <td class="fshCenter" colspan="2">
    <span class="fshXXSmall">
      Fallen Sword Helper was coded by
      <a href="index.php?cmd=profile&amp;player_id=1393340">Coccinella</a>,
      <a href="index.php?cmd=profile&amp;player_id=1963510">PointyHair</a>,
      <a href="index.php?cmd=profile&amp;player_id=1674838">Lusterless</a>,
      <a href="index.php?cmd=profile&amp;player_id=1599987">yuuzhan</a>,
      <a href="index.php?cmd=profile&amp;player_id=1346893">Tangtop</a>,
      <a href="index.php?cmd=profile&amp;player_id=2536682">dkwizard</a>,
      <a href="index.php?cmd=profile&amp;player_id=1570854">jesiegel</a>,
      <a href="index.php?cmd=profile&amp;player_id=2156859">ByteBoy</a>
      and
      <a href="index.php?cmd=profile&amp;player_id=2169401">McBush</a>,
      with valuable contributions by
      <a href="index.php?cmd=profile&amp;player_id=524660">Nabalac</a>
      and
      <a href="index.php?cmd=profile&amp;player_id=37905">Ananasii</a>
    </span>
  </td>
</tr>