<tr>
  <td class="header" colspan="2">Guild &gt; Manage preferences</td>
</tr>
<tr>
  <td>
    <span class="unstable"></span>
    <label for="showGuildRelationship">
      Show Guild Relationship [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Show Guild Relationship</span><br><br>
          <div>This shows the guild relationship in players' profiles.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="showGuildRelationship"
      id="showGuildRelationship"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="guildSelfMessage">Own Guild Message</label>
  </td>
  <td>
    <input
      type="text"
      name="guildSelfMessage"
      id="guildSelfMessage">
  </td>
</tr>
<tr>
  <td></td>
  <td>
    Enter guild names, separated by commas
  </td>
</tr>
<tr>
  <td>
    <label for="guildFrnd">Friendly Guilds</label>
  </td>
  <td>
    <div>
      <input
        class="fshSettingsText"
        type="text"
        name="guildFrnd"
        id="guildFrnd">
      <button class="fsh-toggle" data-linkto="show-friendly-guild-message">»</button>
    </div>
  </td>
</tr>
<tr class="fshHide" id="show-friendly-guild-message">
  <td>
    <label for="guildFrndMessage">Friendly Guild Message</label>
  </td>
  <td>
    <input
      type="text"
      name="guildFrndMessage"
      id="guildFrndMessage">
  </td>
</tr>
<tr>
  <td>
    <label for="guildPast">Old Guilds</label>
  </td>
  <td>
    <div>
      <input
        class="fshSettingsText"
        type="text"
        name="guildPast"
        id="guildPast">
      <button class="fsh-toggle" data-linkto="show-old-guild-message">»</button>
    </div>
  </td>
</tr>
<tr class="fshHide" id="show-old-guild-message">
  <td>
    <label for="guildPastMessage">Old Guild Message</label>
  </td>
  <td>
    <input
      type="text"
      name="guildPastMessage"
      id="guildPastMessage">
  </td>
</tr>
<tr>
  <td>
    <label for="guildEnmy">Enemy Guilds</label>
  </td>
  <td>
    <div>
      <input
        class="fshSettingsText"
        type="text"
        name="guildEnmy"
        id="guildEnmy">
      <button class="fsh-toggle" data-linkto="show-guild-enemy-message">»</button>
    </div>
  </td>
</tr>
<tr class="fshHide" id="show-guild-enemy-message">
  <td>
    <label for="guildEnmyMessage">Enemy Guild Message</label>
  </td>
  <td>
    <input
      type="text"
      name="guildEnmyMessage"
      id="guildEnmyMessage">
  </td>
</tr>
<tr>
  <td>
    <label for="highlightValidTargets">
      Highlight Valid PvP Targets [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Highlight Valid PvP Targets</span><br><br>
          <div>
            Highlights targets in OTHER guilds that are within your level range to attack
            for PvP or GvG.
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <div>
      <label for="highlightPlayersNearMyLvl">
        <input
          type="checkbox"
          name="highlightPlayersNearMyLvl"
          id="highlightPlayersNearMyLvl"
          value="true">
        PvP
      </label>
      <label for="highlightGvGPlayersNearMyLvl">
        <input
          type="checkbox"
          name="highlightGvGPlayersNearMyLvl"
          id="highlightGvGPlayersNearMyLvl"
          value="true">
        GvG
      </label>
    </div>
  </td>
</tr>
<tr>
  <td>
    <label for="showAdmin">
      Show rank controls [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Show rank controls</span><br><br>
          <div>
            Show ranking controls for guild management in member profile page
            - this works for guild founders only
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="showAdmin"
      id="showAdmin"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="ajaxifyRankControls">
      AJAXify rank controls [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">AJAXify rank controls</span><br><br>
          <div>
            Enables guild founders with ranking rights to change rank positions
            without a screen refresh.
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="ajaxifyRankControls"
      id="ajaxifyRankControls"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <span class="network"></span>
    <label for="detailedConflictInfo">
      Show Conflict Details [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Show Conflict Details</span><br><br>
          <div>
            Inserts detailed conflict information onto your guild's manage page.
            Currently displays the target guild as well as the current score.
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="detailedConflictInfo"
      id="detailedConflictInfo"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="enableHistoryCompressor">
      Guild History Compressor [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Guild History Compressor</span><br><br>
          <div>
            Compresses long guild histories and provides a link to expand
            the compressed section.
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="enableHistoryCompressor"
      id="enableHistoryCompressor"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="showBuffLinks">
      Show Buff Links [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Show Buff Links</span><br><br>
          <div>Shows buffs links after guild members names</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="showBuffLinks"
      id="showBuffLinks"
      value="true">
  </td>
</tr>