<tr>
  <td class="header" colspan="2">Left Hand Menu Additional Links</td>
</tr>
<tr>
  <td colspan="2">
    Warning: Changes to the left hand menu have a significant impact on page
    load performance
  </td>
</tr>
{% render 'settingsRow',
  field: 'recipeManagerLink',
  label: 'Recipe Manager',
  tooltipText: 'Recipe Manager Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'medalGuideLink',
  label: 'Medal Guide',
  tooltipText: 'Medal Guide Link (Profile Page)'
%}
{% render 'settingsRow',
  field: 'inventoryManagerLink',
  label: 'Inventory Manager',
  tooltipText: 'Inventory Manager Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'buffLogLink',
  label: 'Buff Log',
  tooltipText: 'Buff Log Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'combatLogLink',
  label: 'Combat Log',
  tooltipText: 'Combat Log Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'creatureLogLink',
  label: 'Creature Log',
  tooltipText: 'Creature Log Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'quickLinksLink',
  label: 'Quick Links',
  tooltipText: 'Quick Links Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'auctionSearchLink',
  label: 'AH Quick Search',
  tooltipText: 'AH Quick Search Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'onlinePlayersLink',
  label: 'Online Players',
  tooltipText: 'Online Players Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'findOtherLink',
  label: 'Find Other',
  tooltipText: 'Find Other Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'findBuffsLink',
  label: 'Find Buffs',
  tooltipText: 'Find Buffs Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'guildInventoryLink',
  label: 'Guild Inventory',
  tooltipText: 'Guild Inventory Link (Helper Menu)'
%}
{% render 'settingsRow',
  field: 'newGuildLogLink',
  label: 'New Guild Log',
  tooltipText: 'New Guild Log Link (Helper Menu)
                <br>When you are not using new guild log by default'
%}
{% render 'settingsRow',
  field: 'topRatedLink',
  label: 'Top 250 Players',
  tooltipText: 'Top 250 Players Link (Top 100 Players)'
%}
