<tr>
  <td class="header" colspan="2">Other preferences</td>
</tr>
<tr>
  <td>
    <label for="autoFillMinBidPrice">
      Auto Fill Min Bid Price [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Auto Fill Min Bid Price</span><br><br>
          <div>Automatically fill in the min bid price in the auction house.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="autoFillMinBidPrice"
      id="autoFillMinBidPrice"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="hideRecipes">
      Hide Specific Recipes [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Hide Specific Recipes</span><br><br>
          <div>
            Hides recipes whose name matches the list (separated by commas).
            This works on Recipe Manager.
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <div>
      <input
        type="checkbox"
        name="hideRecipes"
        id="hideRecipes"
        value="true">
      <input
        class="fshSettingsText"
        type="text"
        name="hideRecipeNames"
        id="hideRecipeNames">
    </div>
  </td>
</tr>
<tr>
  <td>
    <label for="hideRelicOffline">
      Hide Relic Offline [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Hide Relic Offline</span><br><br>
          <div>Hides the relic offline defenders checker.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="hideRelicOffline"
      id="hideRelicOffline"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="enterForSendMessage">
      Enter Sends Message [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Enter Sends Message</span><br><br>
          <div>
            Send a message from the Send Message screen if you press enter.<br>
            You can still insert a new line by holding down shift when you press enter.
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="enterForSendMessage"
      id="enterForSendMessage"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="enableMessageTemplates">
      Enable Message Templates [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Enable Message Templates</span><br><br>
          <div>Add templates to the message dialog.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="enableMessageTemplates"
      id="enableMessageTemplates"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="joinAllLink">
      Join All Groups Link [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Join All Groups Link</span><br><br>
          <div>
            Get a notification with a join all groups link in it when there are new groups.
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="joinAllLink"
      id="joinAllLink"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="enableMaxGroupSizeToJoin">
      Max Group Size to Join [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Max Group Size to Join</span><br><br>
          <div>Only join groups less than a set size.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <div>
      <input
        type="checkbox"
        name="enableMaxGroupSizeToJoin"
        id="enableMaxGroupSizeToJoin"
        value="true">
      Max Size:
      <input
        min="0"
        max="99"
        type="number"
        name="maxGroupSizeToJoin"
        id="maxGroupSizeToJoin">
    </div>
  </td>
</tr>
<tr>
  <td>
    <span class="unstable"></span>
    <label for="moveComposingButtons">
      Move Composing Buttons [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Move Composing Buttons</span><br><br>
          <div>Move composing buttons to the top of the composing screen.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="moveComposingButtons"
      id="moveComposingButtons"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="pageTwoLinks">
      Archive Page 2 Links [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Archive Page 2 Links</span><br><br>
          <div>Add links to page 2 of each archive on the news page.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="pageTwoLinks"
      id="pageTwoLinks"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="addUfsgLinks">
      Add UFSG Links to News [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Add UFSG Links to News</span><br><br>
          <div>Add UFSG links to news articles.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="addUfsgLinks"
      id="addUfsgLinks"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <span class="unstable"></span>
    <label for="trackLadderReset">
      Track Ladder Reset [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Track Ladder Reset</span><br><br>
          <div>Tracks ladder resets from logs and news articles.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="trackLadderReset"
      id="trackLadderReset"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <span class="unstable"></span>
    <span class="network"></span>
    <label for="optInOnLadderPage">
      Opt in on Ladder Page [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Opt in on Ladder Page</span><br><br>
          <div>Adds Opt in to the Ladder page.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="optInOnLadderPage"
      id="optInOnLadderPage"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="storeLastScavPage">
      Store Last Scavenging Page [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">Store Last Scavenging Page</span><br><br>
          <div>Remember last used scavenging settings.</div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="storeLastScavPage"
      id="storeLastScavPage"
      value="true">
  </td>
</tr>
<tr>
  <td>
    <label for="betaOptIn">
      FSH Beta Opt-In [
      <div class="tooltip">
        ?
        <div class="tooltiptext">
          <span class="tooltiptitle">FSH Beta Opt-In</span><br><br>
          <div>
            Opt in to beta features and additional debugging info.<br>The beta features are
            often incomplete, possibly buggy and subject to change at any time.
          </div>
        </div>
      </div>
      ]:
    </label>
  </td>
  <td>
    <input
      type="checkbox"
      name="betaOptIn"
      id="betaOptIn"
      value="true">
  </td>
</tr>