<tr>
  <td class="header" colspan="2">Quest preferences</td>
</tr>
<tr>
  {% render 'settingsRowLabel'
   field: 'hideQuests'
   label: 'Hide Specific Quests'
   tooltipText: 'Hides quests whose name matches the list (separated by commas).' %}
  <td>
    {% render 'settingsControl' field: 'hideQuests' %}
    {% render 'settingsControl' field: 'hideQuestNames' type: 'text' %}
  </td>
</tr>
{% render 'settingsRow'
 field: 'storeLastQuestPage'
 label: 'Store Last Quest Page'
 tooltipText: 'Stores the page and sort order of each of the three quest book sections for next
 time you visit.<br>If you need to reset the links, turn this option off, click on the link you
 wish to reset and then turn this option back on again.' %}
{% render 'settingsRow'
 field: 'showNextQuestSteps'
 label: 'Show Next Quest Steps'
 tooltipText: 'Shows all quest steps in the UFSG.' %}