<label for="{{field}}">
  {% if textBefore %}
    {{ textBefore }}
  {% endif %}
  {% render 'settingsControl', field: field, type: type %}
  {% if textAfter %}
    {{ textAfter }}
  {% endif %}
</label>
