<label>
  {% if textBefore %}
    {{ textBefore }}
  {% endif %}
  {% render 'settingsControl', field: field, type: type, value: value %}
  {% if textAfter %}
    {{ textAfter }}
  {% endif %}
</label>
