<table aria-describedby="FSH Settings" class="fsh-settings">
  {% render 'header.liquid' %}
  <tbody>
    <!-- #region General preferences -->
    {% render 'general.liquid' %}
    <!-- #endregion General preferences -->
    <!-- #region Left Hand Menu Additional Links -->
    {% render 'links.liquid' %}
    <!-- #endregion Left Hand Menu Additional Links -->
    <!-- #region Guild &gt; Manage preferences -->
    {% render 'guild.liquid' %}
    <!-- #endregion Guild &gt; Manage preferences -->
    <!-- #region World screen/Hunting preferences -->
    {% render 'world.liquid' %}
    <!-- #endregion World screen/Hunting preferences -->
    <!-- #region Log screen preferences -->
    {% render 'log.liquid' %}
    <!-- #endregion Log screen preferences -->
    <!-- #region Equipment screen preferences -->
    {% render 'equipment.liquid' %}
    <!-- #endregion Equipment screen preferences -->
    <!-- #region Quest preferences -->
    {% render 'quest.liquid' %}
    <!-- #endregion Quest preferences -->
    <!-- #region Profile preferences -->
    {% render 'profile.liquid' %}
    <!-- #endregion Profile preferences -->
    <!-- #region Bounty hunting preferences -->
    {% render 'bounty.liquid' %}
    <!-- #endregion Bounty hunting preferences -->
    <!-- #region Other preferences -->
    {% render 'other.liquid' %}
    <!-- #endregion Other preferences -->
    <!-- #region footer -->
  {% render 'footer.liquid' %}
    <!-- #endregion footer -->
  </tbody>
</table>