<table aria-describedby="FSH Settings" class="fsh-settings">
  {% render 'header' %}
  <tbody>
    {% render 'general' %}
    {% render 'links' %}
    {% render 'guild' %}
    {% render 'world' %}
    {% render 'log' %}
    {% render 'equipment' %}
    {% render 'quest' %}
    {% render 'profile' %}
    {% render 'bounty' %}
    {% render 'other' %}
    {% render 'footer' %}
  </tbody>
</table>