.whos-got-what {
  color: black;
  border: 1px solid black;
  margin: auto;
  table-layout: fixed;
}

.whos-got-what tr:nth-child(odd) {
  background: wheat;
}

.whos-got-what tr:nth-child(even) {
  background: burlywood;
}

.whos-got-what tr:hover {
  background: cornsilk;
}

.whos-got-what th {
  background: peru;
}

.whos-got-what th,
.whos-got-what td {
  padding: 2px;
}

.whos-got-what td {
  text-align: right;
}

.whos-got-what th:nth-child(2),
.whos-got-what td:nth-child(2),
.whos-got-what th:nth-child(4),
.whos-got-what td:nth-child(4) {
  overflow: clip;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whos-got-what td:nth-child(1),
.whos-got-what th:nth-child(1) {
  /* slot */
  width: 36px;
}

.whos-got-what td:nth-child(2),
.whos-got-what th:nth-child(2) {
  /* name */
  width: 80px;
}

.whos-got-what td:nth-child(3),
.whos-got-what th:nth-child(3) {
  /* level */
  width: 44px;
}

.whos-got-what td:nth-child(4),
.whos-got-what th:nth-child(4) {
  /* rank */
  width: 216px;
}

.whos-got-what td:nth-child(5),
.whos-got-what th:nth-child(5) {
  /* gxp */
  width: 106px;
}

.whos-got-what td:nth-child(6),
.whos-got-what th:nth-child(6) {
  /* activity */
  width: 54px;
}

.whos-got-what td:nth-child(7),
.whos-got-what th:nth-child(7) {
  /* pack */
  width: 42px;
}

.whos-got-what td:nth-child(8),
.whos-got-what th:nth-child(8) {
  /* Stam */
  width: 48px;
}