.fshQuickLinks {
  background-color: #e6c270;
  border: 3px solid #ccbb77;
  border-radius: 5px;
  box-sizing: content-box;
  color: black;
  font-size: 12px;
  overflow-x: hidden;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100px;
  z-index: 20;
}

.fshFixed {
  position: fixed;
}
